html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.view-pager {
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
}

.page {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    scroll-snap-align: start;
    font-size: 2em;
    background-color: green;
    border-bottom: 1px solid #ddd;
}

.page:nth-child(odd) {
    background-color: #f0f0f0;
}

.container {
    display: flex;
    height: 100vh;
    width: 100%;
}

.left-section {
    flex: 2;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    background-color: #3f51b5;
}

.left-section .top-lottie {
    display: flex;
    align-items: center;
    gap: 20px;
}

.left-section h1 {
    color: #ffffff;
    margin-left: 70px;
    margin-top: 60px;
    font-size: 50px;
}

.left-section h2 {
    font-size: 80px;
    color: #F0E78C;
    margin-top: 60px;
    margin-bottom: 10px;
    text-align: center;
    white-space: pre-line;
    font-weight: bold;
    line-height: 0.9;
}

.left-section h3 {
    font-size: 40px;
    color: #ffffff;
    text-align: center;
    margin-top: 50px;
    margin: 0px;
    white-space: pre-line;
}

.bottom-statements {
    display: flex;
    gap: 10px;
    align-items: center;
}

.bottom-statements p {
    display: inline-block;
    margin: 0;
    font-size: 30px;
    text-align: center;
    margin-top: 100px;
    color: #F0E78C;
    white-space: pre-line;
    flex: 1;
}

.right-section {
    flex: 1;
    background-color: #F0E78C;
}

@keyframes slideRightToLeft {
    0% {
        transform: translateX(100vw); /* Start off-screen to the right */
    }
    100% {
        transform: translateX(0); /* End in its normal position */
    }
}

.animated-lottie {
    animation: slideRightToLeft 2s ease-in-out forwards; /* Adjust duration and easing as needed */
}

.image-placeholder {
    position: relative;
    width: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-placeholder img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 500px;
    max-height: 500px;
}


.page2-top-lottie {

}